.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
    background-image: linear-gradient(180deg, #6716aa 70%, #00000011 100%);
    background-image: radial-gradient(circle farthest-side at var(--x, 0px) var(--y, 40px), #6716aa11 20%, transparent 90%);
    background-size: contain;
    width: 100%;
    height: 50rem;
}

.text-content h1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6rem;
}

.text-typing {
    display: block;
    white-space: nowrap;
    border-right: 3px solid;
    width: 12ch;
    font-size: 1.5rem;
    height: 2.1em;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}