nav {
    border-radius: 50px;
    background-color: hsla(158, 23%, 18%, .2);
    backdrop-filter: blur(20px) saturate(1);
    transition: all .2s linear;
}

ul .item {
    display: inline;
    margin: 1.5rem;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    opacity: 85%;
    transition: all .2s;
}

ul .item:hover {
    opacity: 100%;
    background-color: rgba(246, 240, 255, 0.116);
    box-shadow: 0 6px 10px #e7dcfa42;
}