@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

::selection {
   background-color: rgb(110, 67, 230);
}

html {
   scroll-behavior: smooth;
}

:root {
   color-scheme: light dark;
   --scrollbar-border-thickness: 0px;
   --show-double-buttons: none;
   --scrollbar-width: 15px;
   --scrollbar-height: 15px;
   --scrollbar-border-radius: 5px;
   --scrollbar-thumb-color: #444C59;
   --scrollbar-track-color: #3C494B85;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}

body {
   font-family: "Noto Sans Cham Variable";
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: 100vh;
}

body::-webkit-scrollbar {
   width: var(--scrollbar-width, 20px);
   height: var(--scrollbar-height, 20px);
}

body::-webkit-scrollbar-thumb {
   background: var(--scrollbar-thumb-color, #3B82F6);
   border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
   border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-track {
   background: var(--scrollbar-track-color, #A1A1AA);
}

body::-webkit-scrollbar-corner {
   background: var(--scrollbar-corner-color, #FFFFFF);
   border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
   border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-button:vertical:start:increment,
#preview::-webkit-scrollbar-button:vertical:end:decrement,
#preview::-webkit-scrollbar-button:horizontal:start:increment,
#preview::-webkit-scrollbar-button:horizontal:end:decrement {
   display: var(--show-double-buttons, none);
}

@media (prefers-reduced-motion: reduce) {
   html {
      scroll-behavior: auto;
   }
}