.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(199, 238, 28);
    overflow: hidden;
    margin-bottom: 20px;
}

.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}